<header class="site-header">
    <div class="header_wrapper">
      <nav class="nav">
        <button class="nav_button redButton" aria-expanded="false" type="button" aria-label="menu">メニュー</button>
        <ul class="nav_wrapper active">
          <div class="nav_list">
            <li class="nav_item">
              <a href='/'>トップページ</a>
            </li>
            <li class="nav_item">
              <a href="/mypage">マイページ</a>
            </li>
            <li class="nav_item">
              <a href="/lab">研究室</a>
            </li>
            <li class="nav_item">
              <a href="/manage">管理機能</a>
            </li>
          </div>

          <div class="logout">
            <p style="color: white;">ログアウト</p>
            <a href="/logout"></a>
          </div>
        </ul>
      </nav>
      <a href="/" class="title">Leaf</a>
      <button class="button button-icon redButton">アカウント</button>
    </div>
    <script src="/public/javascripts/header.js"></script>
  </header>