<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta http-equiv="Refresh" content="0;URL=/manage/assignlabs">
  <link type="text/css" rel='stylesheet' href='/public/stylesheets/style.css' />
  <link type="text/css" rel='stylesheet' href='/public/stylesheets/reset.css' />
  <link type="text/css" rel="stylesheet" href="/public/stylesheets/parts.css" />

</head>

<body>
  <%- include('./error_messages'); %>
    <% if(isAuth) { %>

      <div class="app">
        <%- include('./sidebar', { threadTitle: title, subThreads: subThreads, index: subThreadIndex, urls: urls }); %>
          <div class="main_wrapper">
            <div class="main_header">
              <div id="header_content">
                <%= subThreads[subThreadIndex] %>
              </div>
              <div class="search_area">
                <label for="check_search">
                  <div id="search" class="header_icon">
                      <img src="../public/images/search.svg" class="icon">
                      <input type="checkbox" name="" id="check_search" class="check_header" style="display: none;">
                  </div>
                </label>
                <div class="search_form">
                  <input type="text" title="検索" name="" id="">
                </div>
              </div>
            </div>
            <div class="main_body">
              <div id="post_area">
              </div>
            </div>
          </div>
      </div>
      <% } else { %>
        <% } %>
</body>

<style>
  .main_body {
    display: block;
  }
  
  #contents_area {
    height: 100%;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    
  }
</style>

</html>