<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <% if(!isAuth) { %>
    <meta http-equiv="Refresh" content="0;URL=/signin">
    <% } %>

  <link type="text/css" rel='stylesheet' href='/public/stylesheets/style.css' />
  <link type="text/css" rel='stylesheet' href='/public/stylesheets/reset.css' />
  <link type="text/css" rel="stylesheet" href="/public/stylesheets/parts.css" />

  <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">

</head>

<body>
  
</body>

<script src="../public/javascripts/sidebar.js"></script>
<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
<script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
<script src="../public/javascripts/quill.js"></script>

</html>