<div class="sidebar">
    <div class="main_threads_bar">
        <label for="check_home">
            <div id="home" class="sidebar_icon">
                <img src="../public/images/home.svg" class="icon">
                <a href="/"></a>
                <input type="checkbox" name="" id="check_home" class="check_sidebar">
            </div>
        </label>
        <label for="check_mypage">
            <div id="mypage" class="sidebar_icon">
                <img src="../public/images/mypage.svg" class="icon">
                <a href="/mypage"></a>
                <input type="checkbox" name="" id="check_mypage" class="check_sidebar">
            </div>
        </label>
        <label for="check_lab">
            <div id="lab" class="sidebar_icon">
                <img src="../public/images/lab.svg" class="icon">
                <a href="/lab"></a>
                <input type="checkbox" name="" id="check_lab" class="check_sidebar">
            </div>
        </label>
        <label for="check_manage">
            <div id="manage" class="sidebar_icon">
                <img src="../public/images/manage.svg" class="icon">
                <a href="/manage"></a>
                <input type="checkbox" name="" id="check_manage" class="check_sidebar">
            </div>
        </label>
    </div>
    <div class="sub_threads_bar">
        <div class="sub_threads_header">
            <p>
                <%= threadTitle %>
            </p>
        </div>
        <% for(let [index, s] of Object.entries(subThreads)) { %>
            <li>
                <div class='sub_thread_<%=index%>'>
                    <div class="sub_thread">
                        <p>
                            <%= s %>
                        </p>
                        <a href=""></a>
                    </div>
                </div>
            </li>
            <% } %>
    </div>
</div>
