body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

textarea {
  font-size: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  resize: none;
  padding: 5px;
}

form {
  width: 100%;
}

ul,
li {
  display: block;
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

.site-header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #D6D6D6;
}

.header_wrapper {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 1800px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.nav_wrapper.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.nav_wrapper {
  position: fixed;
  top: 72px;
  left: 0;
  width: Max(250px);
  bottom: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  background-color: #EDEDED;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.nav_list {
  height: 95%;
}

.nav_item {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.nav_item a {
  display: block;
  padding: 1rem;
}

.logout {
  background-color: #ff0000;
  box-sizing: border-box;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  bottom: 30px;
  border-radius: 20px;
  text-align: center;
}

.logout a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.logout:hover {
  background-color: #cf0000;
}

.main_wrapper {
  display: flex;
  width: Min(80%, 800px);
  justify-content: center;
  height: calc(100vh - 72px);
  padding-top: 72px;
}

.main_body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #EDEDED;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 10px 30px 0px 30px;
  /* position: relative; */
}

.post_area {
  width: 100%;
  max-height: 480px;
  overflow-y: auto;
}

.writing_area {
  box-sizing: border-box;
  bottom: 32px;
  width: 100%;
  padding-top: 20px;
  display: flex;
}

.form_area {
  background-color: #EDEDED;
  bottom: 0;
  width: auto;
}

.writing_quill_area {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
}

.ql-editor {
  max-height: 35vh !important;
  overflow-y: auto;
}

.ql-editor strong {
  font-weight: bold;
}

.enter-area {
  text-align: right;
  padding: 10px;
}

.enter {
  width: 10%;
}

.post {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: fit-content;
}

.my_post {
  background-color: lightgreen;
  margin-right: 0;
  margin-left: auto;
}

.others_post {
  background-color: #fff;
}

.assign {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.labs {
  display: flex;
  flex-flow: column;
  padding-right: 20px;
}

#popup {
  display: none;
}

.popup_open {
  cursor: pointer;
}

.popup_overlay {
  display: none;
}

#popup:checked~.popup_overlay {
  display: block;
  z-index: 99999;
  background-color: #00000070;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.popup_window {
  width: 50vw;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 6px;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.popup_text {
  margin: 0;
}

.popup_text:not(:last-of-type) {
  margin-bottom: 1em
}

.popup_close {
  cursor: pointer;
  position: absolute;
  top: -26px;
  right: 0;
}

.add_lab,
.remove_lab {
  margin: 10px;
}

input[name="addLab"],
input[name="removeLab"] {
  margin-top: 10px;
}

#radio_add:checked~.add_lab {
  display: block;
}

#radio_remove:checked~.add_lab {
  display: none;
}

#radio_add:checked~.remove_lab {
  display: none;
}

#radio_remove:checked~.remove_lab {
  display: block;
}

.labs_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.account_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.account_check {
  padding: 10px;
}

.calendar_wrapper {
  display: flex;
  width: Min(70%, 1500px);
  justify-content: center;
  height: calc(100vh - 72px);
  padding-top: 72px;
}

#external-events {
  width: 10%;
  height: fit-content;
  background-color: #eee;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

#calendar {
  width: 70%;
}

.fc-event {
  padding: 2%;
  margin-bottom: 2px
}

.buttons {
  display: flex;
}

td.fc-timegrid-slot.fc-timegrid-slot-label{
  font-size: 0.35em;
}
/* slotのサイズ */
td.fc-timegrid-slot.fc-timegrid-slot-lane.fc-timegrid-slot-minor{
  font-size: 0.35em;
}
td.fc-timegrid-slot.fc-timegrid-slot-lane{
  font-size: 0.35em;
}